header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: $color_white;

  nav {
    @include flex_align_between;

    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: $color_blue;
    }
  }
}
