$color_white: #fff;
$color_black: #000;
$color_blue: #1570ef;
$color_blue_100: #d1e9ff;
$color_gray_100: #d0d5dd;
$color_gray_300: #98a2b3;
$color_gray_900: #344054;
$color_error: rgb(229, 0, 0);
$color_success: rgb(0, 182, 0);
