.container {
  @include flex_center;

  width: 100%;
  max-width: 550px;
  border-radius: 25px;
  background-color: $color_white;
}

.formWrapper {
  width: 395px;
  padding: 48px 72px;
  color: $color_black;

  &__title {
    font-size: 30px;
  }

  &__inputs {
    @include flex_column;

    margin: 20px 0;
    text-align: start;
  }

  &__submit {
    @include flex_center;

    width: 100%;
    margin: 24px 0;
  }

  &__google {
    @include flex_center;

    width: 100%;
    margin: 24px 0;
  }

  &__forgot {
    @include flex_justify_end;

    width: 100%;

    button {
      color: $color_blue;
    }
  }

  &__footer {
    margin: 20px 0;

    &__subTitle {
      color: $color_gray_300;
    }
  }

  &__error {
    margin: 5px 0;
    font-size: 13px;
    color: $color_error;
  }

  &__footerButton {
    color: $color_blue;
  }

  &__footer {
    margin: 20px 0;

    &__subtitle {
      color: $color_gray_300;
    }
  }
}
