.container {
  @include flex_center;

  width: 100%;
  max-width: 550px;
  border-radius: 25px;
  background-color: $color_white;
}

.formWrapper {
  width: 395px;
  padding: 48px 72px;
  color: $color_black;

  &__title {
    font-size: 30px;
  }

  &__inputs {
    div {
      @include flex_column;

      margin: 20px 0;
      text-align: start;
    }
  }

  &__error {
    margin: 5px 0;
    font-size: 13px;
    color: $color_error;
  }

  &__submit {
    @include flex_center;

    width: 100%;
    margin: 24px 0;
  }
}
